@use "variables" as v;


/* Inicio configuración de estilos por etiqueta de forma global */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: v.$negro;
  text-align: center;
}

p {
  font-size: 2rem;
  color: v.$negro;
}

h1, h2, h3 {
    font-family: v.$fuente_textos;
}

h1{
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3{
    font-size: 3rem;
}
/* Fin configuración de estilos por etiqueta de forma global */


/* Inicio configuración de estilos por clase de forma global */
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
/* Fin configuración de estilos por clase de forma global */
