@use 'variables' as v;

@mixin telefono {
    @media(max-width: v.$telefono){
        @content;
    }
}

@mixin tablet {
    @media(max-width: v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media(max-width: $desktop){
        @content;
    }
}

@mixin desktopXL {
    @media(max-width: $desktopXL) {
        @content;
    }
}

@mixin grid ($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}