@use "../base/variables" as v;
@use "../base/mixin" as m;

/* Inicio estilos del contenido principal */

.conenido-main {
  h1 {
    margin-top: 13rem;
    text-align: center;
    text-transform: uppercase;
  }
  @include m.telefono {
    h1 {
      margin-top: 2rem;
    }
  }
}

.contenido-festival {
  .imagen-festival {
    background-color: v.$verde;
    padding: 2rem;
  }

  .informacion-festival {
    background-color: v.$naranja;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;

    h3 {
      text-shadow: 1px 1px v.$negro;
    }

    p {
      text-align: center;
    }
  }

  @include m.telefono {
    display: flex;
    flex-direction: column;
  }
  @include m.tablet {
    display: flex;
    flex-direction: column;
  }

  @include m.grid(2, 3rem);
  padding: 5rem 0rem;
}

/* Fin estilos del contenido principal */
